<!-- <div class="demo-button-container">
    <button mat-raised-button (click)="addData()" class="demo-button">
      Add data
    </button>
    <button
        mat-raised-button
        [disabled]="!dataSource.length"
        (click)="removeData()"
        class="demo-button">
      Remove data
    </button>
  </div> -->
  <!-- <button (click)="createItem({id: 3, name: 'Punjab', age: 45, gender: 'F', mob: 1234567890})">Create Item</button> -->
  <!-- <button (click)="getItemById(1)">Get Item By ID</button> -->
  
  <br><br>
  <div class="heading">
      <mat-label> &nbsp; All People Details </mat-label>
  </div>
  <!-- <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Number</mat-label>
      <input type="text"
             placeholder="Pick one"
             aria-label="Number"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form> -->
  
  <br><br>
  
  <div class="demo-table-div">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
    
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let element">{{element.id}}</td>
    </ng-container>
    
    <!-- Position Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef>Age</th>
      <td mat-cell *matCellDef="let element">{{element.age}}</td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef>Gender</th>
      <td mat-cell *matCellDef="let element">{{element.gender}}</td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="mob">
      <th mat-header-cell *matHeaderCellDef>Mobile Number</th>
      <td mat-cell *matCellDef="let element">{{element.mob}}</td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  </div>>