
<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <!-- <a routerLink="/people">User List</a> -->
      <a mat-raised-button routerLink="/people">Users List</a>

    </ng-template>
    
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <a mat-raised-button color="accent" routerLink="/create">Create User</a>
    </ng-template>
  
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <!-- <a routerLink="/delete/1">Delete User</a> -->
      <!-- <button mat-raised-button color="warn">Delete User</button> -->
      <a mat-raised-button color="warn" routerLink="/change">Change Data</a>
    </ng-template>
  </mat-tab>
</mat-tab-group>

<router-outlet></router-outlet>